<style type="text/css">
    .custom-ac-input {
        width: 200px;
        margin-rigth: 10px;
    }
</style>

<p>
  <label>Поле для автозаполнения (Название поля/Источник): </label>
  <%= text_field_tag 'settings[acfield1]', @settings['acfield1'], class: "custom-ac-input" %>&nbsp;
  <%= text_field_tag 'settings[acsource1]', @settings['acsource1'] %>
</p>

<p>
  <label>Поле для автозаполнения (Название поля/Источник): </label>
  <%= text_field_tag 'settings[acfield2]', @settings['acfield2'], class: "custom-ac-input" %>&nbsp;
  <%= text_field_tag 'settings[acsource2]', @settings['acsource2'] %>
</p>

<p>
  <label>Поле для автозаполнения (Название поля/Источник): </label>
  <%= text_field_tag 'settings[acfield3]', @settings['acfield3'], class: "custom-ac-input" %>&nbsp;
  <%= text_field_tag 'settings[acsource3]', @settings['acsource3'] %>
</p>

<p>
  <label>Поле для автозаполнения (Название поля/Источник): </label>
  <%= text_field_tag 'settings[acfield4]', @settings['acfield4'], class: "custom-ac-input" %>&nbsp;
  <%= text_field_tag 'settings[acsource4]', @settings['acsource4'] %>
</p>

<p>
  <label>Пользовательские CSS стили</label>
  <br/>
  <%= text_area_tag 'settings[css]', @settings['css'] %>
</p>
